<img class="centered-logo" src="../../../assets/images/logo.png">
<app-window>
    <p>Amantes de los videojuegos de todas las épocas y edades nos hemos unido con un mismo objetivo:</p>
    <p>Devolverle la gloria a las recreativas.</p>
    <p>Nuestras máquinas son restauraciones y recreaciones a escala de los mejores juegos arcade que han existido.
    </p>
    <p>¿Le interesa colaborar? ¿Tiene dudas?</p>

    <button class="stylized-button" routerLink="/about-us/contact">
        <mat-icon svgIcon="sobre" class="material-icons"></mat-icon>
        <span class="button-text">Contáctenos</span>
    </button>
</app-window>