@use "sass:map";
@use '@angular/material' as mat;
@import 'app/shared/global-styles/forms.scss';




// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ArCaDream-primary: mat.define-palette(mat.$indigo-palette);
$ArCaDream-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ArCaDream-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ArCaDream-theme: mat.define-light-theme((
  color: (
    primary: $ArCaDream-primary,
    accent: $ArCaDream-accent,
    warn: $ArCaDream-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ArCaDream-theme);


@font-face {
  font-family: "Dongle";
  src: local("Dongle"), url(./assets/fonts/Mada-Regular.ttf) format("truetype");
}

html, body { 
  height: 100%; 
}
body { margin: 0; font-family: "Dongle", Arial,  "Helvetica Neue", sans-serif; background-color: map-get($default-colors, "oxford-blue" ); }

mat-icon {
  fill: map-get($default-colors, "gainsboro")
}

.stylized-button {
  border: none;
  border-radius: 10px;

  width: 80%;
  height: 50px;
  text-align: center;

  color: map-get($default-colors, "gainsboro");
  background-color: map-get($default-colors, "slate-blue");
}

.button-text {
  font-family: "Dongle", Arial,  "Helvetica Neue", sans-serif;
  font-size: 20px;
}


app-window { text-align: center;}

app-window p {
  margin: 10px 20px;

  border-radius: 10px;
 
  text-align: left;
  
  color: map-get($default-colors, "gainsboro");
  white-space: pre-wrap;
}

.centered-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-top: -5px;
  height: 150px;
}