<mat-toolbar class="toolbarNav">
    <app-menu-icon-button
      uncheckedIcon="ajustes" checkedIcon="ajustes-checked"
      routeUrl="/settings">
    </app-menu-icon-button>
    <app-menu-icon-button
      uncheckedIcon="busqueda" checkedIcon="busqueda-checked"
      routeUrl="/search">
    </app-menu-icon-button>
    <app-menu-icon-button
      uncheckedIcon="logo" checkedIcon="logo-checked"
      routeUrl="/about-us">
    </app-menu-icon-button>
    <app-menu-icon-button
      uncheckedIcon="carrito" checkedIcon="carrito-checked"
      routeUrl="/shopping-cart">
    </app-menu-icon-button>
    <app-menu-icon-button
      uncheckedIcon="usuario" checkedIcon="usuario-checked"
      routeUrl="/user">
    </app-menu-icon-button>
  </mat-toolbar>